<template>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <h4 class="text-secondary text-center">404 Page Not Found <br> <span class="fs-6">Redirecting in {{ timerCount }}</span></h4>
    </div>
</template>
<script>
export default {
    data() {
        return {
            timerCount: 3
        }
    },
    async mounted(){
        document.title = "Page Not Found"
    },    
    watch: {
        timerCount: {
            handler(value) {

                if (value > 0) {
                    setTimeout(() => {
                        this.timerCount--;
                    }, 1000);
                } 
                else if (value == 0) {
                    this.$router.push('/')
                    this.$toast.error('Page not found')
                }
            },
            immediate: true // This ensures the watcher is triggered upon creation
        }
    }
}
</script>