<template>
  <div class="admin">
   <Sidenav />
   <div class="main-content">
     <router-view name="adminDashboard"/>
     <router-view name="adminBooks"/>
     <router-view name="adminBorrowedBooks"/>
     <router-view name="adminRegistration"/>
     <router-view name="adminNewUsers"/>
   </div>
  </div>
</template>
<script>
import Sidenav from './sidebar/admin/Sidebar.vue'
export default {
  components: {Sidenav}
}
</script>