<template>
  <div class="user">
  <Sidenav />
   <div class="main-content">
     <router-view name="books"/>
     <router-view name="borrowedbooks"/>
   </div>
  </div>
</template>
<script>
import Sidenav from './sidebar/user/Sidebar.vue'
export default {
  components: {Sidenav}
}
</script>