<template>
<div class="container vh-100 d-flex justify-content-center overflow-scroll pt-5">
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
        <div class="card border-light d-flex justify-content-center">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-column me-auto mt-2">
                        <h5 class="text-dark">All Available Books</h5>
                        <p class="mb-4">Choose a book to borrow from the Library System</p>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                <b-skeleton-table
                :rows="5"
                :columns="4"
                :table-props="{ bordered: false, striped: true }"
                v-if="initialLoading"
                ></b-skeleton-table>
                    <table class="table table-borderless table-hover" v-if="!initialLoading">
                        <thead>
                            <tr>
                                <th scope="col" class="text-nowrap">Title</th>
                                <th scope="col" class="text-nowrap">Author</th>
                                <th scope="col" class="text-nowrap">Category</th>
                                <th scope="col" class="text-nowrap text-center">Date Added</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="books.data == 0" class="fw-bold text-danger text-center">
                                <td colspan="6">No Records Found</td>
                            </tr>
                            <tr v-for="(book, i) in books.data" :key="i">
                                <td hidden>{{ book.id }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.category.category }}</td>
                                <td class="text-nowrap text-center">{{ book.created_at | moment}}</td>
                                <td>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-sm btn-success rounded-pill btn-approve px-3" v-on:click.prevent="data = book; $bvModal.show('borrowModal')">
                                        Borrow
                                    </button>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3" v-if="books.data">
                    <pagination :showDisabled="true" :align="'right'" :data="books" @pagination-change-page="getAllBooks">
                        <span slot="prev-nav">&laquo;</span>
                        <span slot="next-nav">&raquo;</span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <b-modal id="borrowModal" centered title="Borrow">
    <form>
     <div class="m-3">
      <p>Title: <span class="fw-bold">{{data.title}}</span></p>
      <p>Author: <span class="fw-bold">{{data.author}}</span></p>
      <input v-model="data.id" hidden>
     </div>
     </form>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button size="sm" variant="success" :disabled="loading" type="submit" v-on:click="borrow">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Borrow
        </div>
      </b-button>
    </template>
    
   </b-modal>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment'
export default {
    data(){
        return {
            loading: false,
            initialLoading: false,
            data: {
                id: '',
                title: '',
                author: '',
            },
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM D, YYYY, h:mm A');
        }
    },
    methods: {
    ...mapActions('auth', ['checkAuthUser']),
    ...mapActions('book', ['borrowBook']),
    async borrow(){
        this.loading = true
        const res = await this.$store.dispatch('book/borrowBook', this.data)
            if(res.status == 200 ){
                this.$bvModal.hide('borrowModal')
                this.loading = false
                this.initialLoading = true
                await this.$store.dispatch('book/getBooks');
                this.initialLoading = false
                this.$toast.success(this.data.title + ' borrowed successfully')
            }
             else if(res.status == 500 ){
                this.$bvModal.hide('borrowModal')
                this.$toast.error('You already borrowed this book')
                this.loading = false
            } else {
                this.$bvModal.hide('borrowModal')
                this.$toast.error('Something went wrong!')
                this.loading = false
            }
        },
    async getAllBooks(page){
            await this.$store.dispatch('book/getBooks', page)
        },
    },
    async mounted(){
        document.title = "All Books";
        this.initialLoading = true
        await this.checkAuthUser();
        await this.$store.dispatch('book/getBooks');
        await this.$store.dispatch('book/getCategories');
        this.initialLoading = false
    },
    computed: {
        ...mapState('book', ['books', 'categories']),
        ...mapState('auth', ['useraccount'])
    },
}
</script>