<template>
<div class="container vh-100 d-flex justify-content-center overflow-scroll pt-5">
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
        <div class="card border-light d-flex justify-content-center">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-column me-auto mt-2">
                        <h5 class="text-dark">Borrowed Books</h5>
                        <p class="mb-4">All your borrowed books are listed below</p>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                <b-skeleton-table
                :rows="5"
                :columns="4"
                :table-props="{ bordered: false, striped: true }"
                v-if="initialLoading"
                ></b-skeleton-table>
                    <table class="table table-borderless table-hover" v-if="!initialLoading">
                        <thead>
                            <tr>
                                <th scope="col" class="text-nowrap">Title</th>
                                <th scope="col" class="text-nowrap">Author</th>
                                <th scope="col" class="text-nowrap text-center">Date Borrowed</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr v-if="borrowedbooks.data == 0" class="fw-bold text-danger text-center">
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            <tr v-for="(borrowedbook, i) in borrowedbooks.data" :key="i">
                                <td>{{borrowedbook.book.title}}</td>
                                <td>{{borrowedbook.book.author}}</td>
                                <td class="text-nowrap text-center">{{borrowedbook.created_at | moment}}</td>
                                <td>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-sm btn-success rounded-pill btn-approve mt-0 px-3" v-on:click.prevent="bookReturn = borrowedbook.id; $bvModal.show('returnModal')">
                                        Return
                                    </button>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3" v-if="borrowedbooks.data">
                    <pagination :showDisabled="true" :align="'right'" :data="borrowedbooks" @pagination-change-page="getAllBorrowedBooks">
                        <span slot="prev-nav">&laquo;</span>
                        <span slot="next-nav">&raquo;</span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <b-modal id="returnModal" centered title="Return">
    <form>
     <div class="m-3">
        <p>Are you sure to return this book?</p>
     </div>
     </form>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button size="sm" variant="success" :disabled="loading" type="submit" v-on:click="returnBooks">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Return
        </div>
      </b-button>
    </template>
   </b-modal>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment'
export default {
    data(){
        return {
            loading: false,
            initialLoading: false,
            bookReturn: ''
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM D, YYYY, h:mm A');
        }
    },
    async mounted(){
        document.title = "My Books";
        this.initialLoading = true
        await this.checkAuthUser();
        await this.$store.dispatch('book/getUserBorrowedBooks');
        this.initialLoading = false
    },
    methods: {
    ...mapActions('auth', ['checkAuthUser']),
    ...mapActions('book', ['returnBook']),
    async getAllBorrowedBooks(page){
        await this.$store.dispatch('book/getUserBorrowedBooks', page)
    },
    async returnBooks(){
        this.loading = true
        const res = await this.$store.dispatch('book/returnBook', this.bookReturn)
            if(res.status == 200 ){
                this.$bvModal.hide('returnModal')
                this.loading = false
                this.initialLoading = true
                await this.$store.dispatch('book/getUserBorrowedBooks');
                this.initialLoading = false
                this.$toast.success('Book returned successfully')
            } else {
                this.$toast.error('Something went wrong!')
                this.$bvModal.hide('returnModal')
                this.loading = false
            }
        },
    },
    computed: {
        ...mapState('book', ['borrowedbooks']),
        ...mapState('auth', ['useraccount'])
    },
}
</script>