<template>
    <div>
        
    </div>
</template>
<script>
export default {
    async mounted(){
        document.title = "My Dashboard";
        await this.$store.dispatch('auth/checkAuthUser');
    },
}
</script>