<template>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <div class="card border-light d-flex justify-content-center align-items-center">
                <div class="card-body w-50">
                    <h5 class="text-center text-dark fw-bold mb-3">Admin Account Registration</h5>
                    <form v-if="step === 1">
                        <small class="text-dark">Step 1 - Admin Information</small>
                        <div class="form-floating mt-4 mb-2">
                            <input v-model="data.first_name" type="text" class="form-control" id="fname" placeholder="fname" autocomplete="off" autofocus required>
                            <label for="fname">First Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input v-model="data.middle_name" type="text" class="form-control" id="mname" placeholder="mname" autocomplete="off" required>
                            <label for="mname">Middle Name</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input v-model="data.last_name" type="text" class="form-control" id="lname" placeholder="lname" autocomplete="off" required>
                            <label for="lname">Last Name</label>
                        </div>
                        <div class="col-md mb-2">
                            <div class="form-floating">
                            <select v-model="data.gender" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <label for="floatingSelectGrid">Gender</label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="data.contact_number" type="contact" class="form-control" id="contact" placeholder="contact" autocomplete="off" required>
                            <label for="contact">Contact</label>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-sm btn-primary px-3 rounded-3" @click="next">Next</button>
                        </div>
                        </form>
                        <form v-if="step === 2">
                        <small class="text-dark">Step 2 - Admin Login Credentials</small>
                        <div class="form-floating mt-4 mb-3">
                            <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off" autofocus required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-5">
                            <input v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-sm btn-primary px-2 rounded-3" @click="prev">Previous</button>
                                    <button type="submit" class="btn btn-sm btn-success px-2 rounded-3 ms-2" @click="createAdmin" :disabled="loading">
                                        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div v-else>
                                        Register
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex';
export default {
  data() {
    return {
      step: 1,
      loading: false,
      data: {
        first_name: '',
        middle_name: '',
        last_name: '',
        gender: 'Male',
        contact_number: '',
        email: '',
        password: '',
      }
    }
  },
  
  methods: {
    ...mapActions('auth', ['createAdminAccount']),
    prev() {
    this.step--;
    },
    next() {
      if(this.data.first_name == ''){
        this.$toast.error('First name is required')
      }
      else if(this.data.middle_name == ''){
        this.$toast.error('Middle name is required')
      }
      else if(this.data.last_name == ''){
        this.$toast.error('Last is required')
      }
      else if(this.data.gender == ''){
        this.$toast.error('Gender is required')
      }
      else if(this.data.contact_number == ''){
        this.$toast.error('Contact is required')
      } else {
        this.step++;
    }
  },
  async createAdmin(){
    this.loading = true
    const res = await this.createAdminAccount(this.data)
    if(this.data.email == ''){
        this.$toast.error('Email is required')
        this.loading = false
      }
      else if(this.data.password == ''){
        this.$toast.error('Password is required')
        this.loading = false
      }
      else if(res.status == 200){
        this.$toast.success('Account created successfully!')
        this.loading = false
        this.$router.push('/admin/dashboard')
      }
      else {
        this.$toast.error('Something went wrong!')
        this.loading = false
      }
    }
  },
  async mounted(){
    document.title = "Admin Registration";
    await this.$store.dispatch('auth/checkAuthAdmin');
  },
}
</script>