<template>
    <div class="container vh-100 d-flex justify-content-center overflow-scroll pt-5">
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <div class="card border-light d-flex justify-content-center">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="d-flex flex-column me-auto mt-2">
                            <h5 class="text-dark">All Books</h5>
                            <p class="mb-4">Manage Books below</p>
                        </div>
                        <div class="d-flex flex-column mt-2">
                            <button class="btn btn-sm btn-success rounded-3" v-on:click.prevent="$bvModal.show('newBookModal')"><i class="fas fa-plus me-2"></i> New Book</button>
                        </div>
                    </div>
                    <form class="d-flex w-50">
                        <input v-model="search_book.search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button @click.prevent="bookSearch" class="btn btn-success rounded-circle" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="table-responsive mt-3">
                    <b-skeleton-table
                    :rows="5"
                    :columns="4"
                    :table-props="{ bordered: false, striped: true }"
                    v-if="initialLoading"
                    ></b-skeleton-table>
                        <table class="table table-borderless table-hover" v-if="!initialLoading">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-nowrap">Title</th>
                                    <th scope="col" class="text-nowrap">Author</th>
                                    <th scope="col" class="text-nowrap">Category</th>
                                    <th scope="col" class="text-nowrap text-center">Date Added</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="books.data == 0" class="fw-bold text-danger text-center">
                                    <td colspan="6">No Records Found</td>
                                </tr>
                                <tr v-for="(book, i) in books.data" :key="i">
                                    <td>{{ book.title }}</td>
                                    <td>{{ book.author }}</td>
                                    <td>{{ book.category.category }}</td>
                                    <td class="text-nowrap text-center">{{ book.created_at | moment}}</td>
                                    <td>
                                    <div class="d-flex justify-content-center">
                                        <button v-on:click.prevent="updatedata = book; $bvModal.show('updateBookModal')" class="btn btn-sm btn-success rounded-pill btn-approve me-2" >
                                        <i class="fas fa-eye"></i>
                                        </button>
                                        <button v-on:click.prevent="deleteBook = book.id; $bvModal.show('deleteBookModal')" class="btn btn-sm btn-danger rounded-pill btn-approve me-2" >
                                        <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-3" v-if="books.data">
                        <pagination :showDisabled="true" :align="'right'" :data="books" @pagination-change-page="bookSearch">
                            <span slot="prev-nav">&laquo;</span>
                            <span slot="next-nav">&raquo;</span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>

    <b-modal id="newBookModal" centered title="New Book">
        <div class="form-floating mb-2 mt-2 ">
            <input v-model="data.title" type="text" class="form-control" id="newTitle" placeholder="name@example.com" autocomplete="off">
            <label for="newTitle">Title</label>
        </div>
        <div class="form-floating mb-2">
            <input v-model="data.author" type="text" class="form-control" id="newAuthor" placeholder="name@example.com" autocomplete="off">
            <label for="newAuthor">Author</label>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <div class="form-floating">
                <select v-model="data.category_id" class="form-select" id="floatingSelectGrid">
                    <option v-for="(category, c) in categories" :key="c" :value="category.id">
                        {{ category.category }}
                    </option>
                </select>
                <label for="floatingSelectGrid">Category</label>
                </div> 
            </div>
        </div>
        <template #modal-footer = {cancel} >
            <b-button variant="primary" @click="cancel()"> Cancel </b-button>
            <b-button variant="success" v-on:click.prevent="newBook" :disabled="loading">
             <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div v-else>
                Add Book
            </div>
            </b-button>
        </template>
    </b-modal>

    <b-modal id="updateBookModal" centered title="Update Book">
        <div class="form-floating mb-2 mt-2 ">
            <input v-model="updatedata.title" type="text" class="form-control" id="updateTitle" placeholder="name@example.com" autocomplete="off">
            <label for="updateTitle">Title</label>
        </div>
        <div class="form-floating mb-2">
            <input v-model="updatedata.author" type="text" class="form-control" id="updateAuthor" placeholder="name@example.com" autocomplete="off">
            <label for="updateAuthor">Author</label>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <div class="form-floating">
                <select v-model="updatedata.category_id" class="form-select" id="floatingSelectGrid">
                    <option v-for="(category, c) in categories" :key="c" :value="category.id">
                        {{ category.category }}
                    </option>
                </select>
                <label for="floatingSelectGrid">Category</label>
                </div>
            </div>
        </div>
        <template #modal-footer = {cancel} >
            <b-button variant="primary" @click="cancel()"> Cancel </b-button>
            <b-button variant="success" v-on:click.prevent="updateBook" :disabled="loading">
             <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div v-else>
                Update Book
            </div>
            </b-button>
        </template>
    </b-modal>

    <b-modal id="deleteBookModal" centered title="Confirm Delete">
        <p class="">Are you sure to delete this record?</p>
        <template #modal-footer = {cancel} >
        <b-button variant="primary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" v-on:click.prevent="deleteRecord" :disabled="loading">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Delete
        </div>
        </b-button>
        </template>
    </b-modal>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import moment from 'moment'
export default {
    data(){
        return {
            loading: false,
            initialLoading: false,
            isSearching: '',
            data: {
                title: '',
                author: '',
                category_id: '',
            },
            updatedata: {
                title: '',
                author: '',
                category_id: '',
            },
            search_book: {
                search: ''
            },
            deleteBook: '',
            new_book: '',
            page: []
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM D, YYYY, h:mm A');
        }
    },
    async mounted(){
        document.title = "Admin - Books";
        this.initialLoading = true
        await this.$store.dispatch('auth/checkAuthAdmin');
        await this.$store.dispatch('book/getBooks');
        await this.$store.dispatch('book/getCategories');
        this.initialLoading = false
    },
    methods: {
    async newBook(){
        this.loading = true
        const res = await this.$store.dispatch('book/addBook', this.data)
            if(res.status == 200 ){
                this.$bvModal.hide('newBookModal')
                this.loading = false
                this.initialLoading = true
                await this.$store.dispatch('book/getBooks');
                this.initialLoading = false
                this.$toast.success(this.data.title + ' added successfully!')
                this.data = {
                    title: '',
                    author: '',
                    copies: '',
                    category_id: ''
                }
            } else {
                this.$bvModal.hide('newBookModal')
                this.$toast.error('Something went wrong!')
                this.loading = false
            }
        },
    async searchBook(page){
        this.isSearching = true
        await this.$store.dispatch('book/searchBook', {page: page, data: this.search_book})
        this.isSearching = false
    },
    async updateBook(){
        this.loading = true
        const res = await this.$store.dispatch('book/updateBook', this.updatedata)
        if(res.status == 200 ){
            this.$bvModal.hide('updateBookModal')
            this.loading = false
            this.initialLoading = true
            await this.$store.dispatch('book/getBooks');
            this.initialLoading = false
            this.$toast.success( this.updatedata.title + ' updated successfully!')
            this.updatedata = {
                title: '',
                author: '',
                copies: '',
                category_id: ''
            }
        }
        else{
            this.$bvModal.hide('updateBookModal')
            this.$toast.error('Something went wrong!')
            this.loading = false
        }
    },
    async deleteRecord(){
        this.loading = true
        this.initialLoading = true
        const res = await this.$store.dispatch('book/deleteBookRecord', this.deleteBook)
            if(res.status == 200){
                this.$bvModal.hide('deleteBookModal')
                this.loading = false
                this.initialLoading = true
                await this.$store.dispatch('book/getBooks');
                this.initialLoading = false
                this.$toast.success( 'Book deleted successfully!')
            } else {
                this.$toast.error('Something went wrong!')
                this.loading = false
                this.initialLoading = false
            }
        },
        async getAllBooks(page){
            await this.$store.dispatch('book/getBooks', page)
        },
        bookSearch(page = 1){
            if(this.search_book.search == ''){
                this.getAllBooks(page)
            }
            else {
                this.searchBook(page)
            }
        },
    },
    computed: {
        ...mapState('book', ['books', 'categories']),
    },
}
</script>