<template>
<div class="container vh-100 d-flex justify-content-center overflow-scroll pt-5">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="card border-light d-flex justify-content-center">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-column me-auto mt-2">
                        <h5 class="text-dark">All Borrowed Books</h5>
                        <p class="mb-4">See all borrowed books here by users</p>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                <b-skeleton-table
                :rows="5"
                :columns="4"
                :table-props="{ bordered: false, striped: true }"
                v-if="initialLoading"
                ></b-skeleton-table>
                    <table class="table table-borderless table-hover" v-if="!initialLoading">
                        <thead>
                            <tr>
                                <th scope="col" class="text-nowrap">Borrower</th>
                                <th scope="col" class="text-nowrap">Book</th>
                                <th scope="col" class="text-nowrap">Email</th>
                                <th scope="col" class="text-nowrap">Contact</th>
                                <th scope="col" class="text-nowrap">Date Borrowed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="borrowedbooks.data == 0" class="fw-bold text-danger text-center">
                                <td colspan="5">No Records Found</td>
                            </tr>
                            <tr v-for="(borrowedbook, i) in borrowedbooks.data" :key="i">
                                <td>{{borrowedbook.user.userinfo.first_name}} {{borrowedbook.user.userinfo.last_name}}</td>
                                <td>{{borrowedbook.book.title}}</td>
                                <td>{{borrowedbook.user.email}}</td>
                                <td>{{borrowedbook.user.userinfo.contact_number}}</td>
                                <td>{{borrowedbook.created_at | moment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3" v-if="borrowedbooks.data">
                    <pagination :showDisabled="true" :align="'right'" :data="borrowedbooks" @pagination-change-page="getAllBorrowedBooks">
                        <span slot="prev-nav">&laquo;</span>
                        <span slot="next-nav">&raquo;</span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment'
export default {
    data(){
        return {
            loading: false,
            initialLoading: false,
            page: []
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM D, YYYY');
        }
    },
    methods: {
        ...mapActions('auth', ['checkAuthAdmin']),
        async getAllBorrowedBooks(page){
            await this.$store.dispatch('book/getBorrowedBooks', page)
        },
    },
    async mounted(){
        document.title = "Admin - Borrowed Books";
        this.initialLoading = true
        await this.checkAuthAdmin();
        await this.$store.dispatch('book/getBorrowedBooks');
        this.initialLoading = false
    },
    computed: {
        ...mapState('book', ['borrowedbooks']),
        ...mapState('auth', ['adminaccount'])
    },
}
</script>