<template>
    <div class="container vh-100">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pt-5">
            <h5>Most Borrowed Books</h5>
            <p class="text-muted">Summary of most borrowed books by category</p>
            <BarChart />
          </div>
        </div>
    </div>
</template>
<script>
import BarChart from "../../components/BarChart"
export default {
components: { BarChart},
async mounted(){
    document.title = "Admin - Dashboard"
        await this.$store.dispatch('auth/checkAuthAdmin');
  },
}
</script>
<style >
canvas {
    max-height: 500px !important;
    max-width: 500px !important;
}
</style>