<template>
<div class="container vh-100 d-flex justify-content-center overflow-scroll pt-5">
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
        <div class="card border-light d-flex justify-content-center">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-column me-auto mt-2">
                        <h5 class="text-dark">Newly Registered Users</h5>
                        <p class="mb-4">Approve their account below</p>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                <b-skeleton-table
                :rows="5"
                :columns="4"
                :table-props="{ bordered: false, striped: true }"
                v-if="initialLoading"
                ></b-skeleton-table>
                    <table class="table table-borderless table-hover" v-if="!initialLoading">
                        <thead>
                            <tr>
                                <th scope="col" class="text-nowrap">Name</th>
                                <th scope="col" class="text-nowrap">Email</th>
                                <th scope="col" class="text-nowrap">Status</th>
                                <th scope="col" class="text-nowrap">Date Registered</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="users.data == 0" class="fw-bold text-danger text-center">
                                <td colspan="5">No Records Found</td>
                            </tr>
                            <tr v-for="(user, i) in users.data" :key="i">
                                <td>{{user.userinfo.first_name}} {{user.userinfo.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.account_type}}</td>
                                <td>{{user.created_at | moment}}</td>
                                <td>
                                <div class="d-flex justify-content-center">
                                    <button v-on:click.prevent="approveUser = user; $bvModal.show('approveModal')" class="btn btn-sm btn-success rounded-pill mx-2" >
                                    <i class="fas fa-user-check"></i>
                                    </button>
                                    <button v-on:click.prevent="deleteUser = user.id; $bvModal.show('deleteUserModal')" class="btn btn-sm btn-danger rounded-pill me-2" >
                                    <i class="fas fa-user-times"></i>
                                    </button>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-3" v-if="users.data">
                    <pagination :showDisabled="true" :align="'right'" :data="users" @pagination-change-page="getAllNewUsers">
                        <span slot="prev-nav">&laquo;</span>
                        <span slot="next-nav">&raquo;</span>
                    </pagination>
                </div>
            </div>
        </div>
    </div>

    <b-modal id="approveModal" centered title="Confirm Approval">
        <p class="">Are you sure to activate this account?</p>
        <input v-model="approveUser.account_type" type="text" hidden>
        <template #modal-footer = {cancel} >
        <b-button variant="primary" @click="cancel()"> Cancel </b-button>
        <b-button variant="success" v-on:click.prevent="approve" :disabled="loading">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Yes, Approve
        </div>
        </b-button>
        </template>
    </b-modal>

    <b-modal id="deleteUserModal" centered title="Confirm Delete">
        <p class="">Are you sure to remove this account?</p>
        <template #modal-footer = {cancel} >
        <b-button variant="primary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" v-on:click.prevent="deleteRecord" :disabled="loading">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Delete
        </div>
        </b-button>
        </template>
    </b-modal>
</div>
</template>
<script>
import { mapState } from 'vuex';
import moment from 'moment'
export default {
    data() {
        return {
            initialLoading: false,
            loading: false,
            approveUser: {
                account_type: ''
            },
            deleteUser: ''
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('MMMM D, YYYY, h:mm a');
        }
    },
    methods: {
    async getAllNewUsers(page){
        await this.$store.dispatch('newuser/getNewUsers', page)
    },
    async approve(){
        this.loading = true
        this.initialLoading = true
        this.approveUser.account_type = 'Activated'
        const res = await this.$store.dispatch('newuser/approveUser', this.approveUser)
        if(res.status == 200 ){
            this.$bvModal.hide('approveModal')
            this.$router.push('/admin/dashboard')
            this.loading = false
            this.initialLoading = false
            this.$toast.success( 'Account approved!')
        }
        else{
            this.$toast.error('Something went wrong!')
            this.$bvModal.hide('approveModal')
            this.loading = false
            this.initialLoading = false
        }
    },
    async deleteRecord(){
        this.loading = true
        this.initialLoading = true
        const res = await this.$store.dispatch('newuser/deleteUser', this.deleteUser)
            if(res.status == 200){
                this.$bvModal.hide('deleteUserModal')
                this.loading = false
                this.initialLoading = true
                await this.$store.dispatch('newuser/getNewUsers');
                this.initialLoading = false
                this.$toast.success('Account deleted successfully!')
            } else {
                this.$toast.error('Something went wrong!')
                this.loading = false
                this.initialLoading = false
            }
        }
    },
    async mounted(){
        document.title = "Admin - New Users";
        this.initialLoading = true
        await this.$store.dispatch('auth/checkAuthAdmin');
        await this.$store.dispatch('newuser/getNewUsers');
        this.initialLoading = false
    },
    computed: {
        ...mapState('newuser', ['users']),
    },
}
</script>