<template>
<div id="login-page">
    <div class="container-fluid m-0">
        <div class="row">
            <div id="left-section" class="col-lg-8 col-md-7 d-none d-lg-flex d-md-flex vh-100 px-4 justify-content-start align-items-end">
            <h1 class="text-light fw-bolder ps-2">Libraries store the energy that fuels the imagination.
                <span><p class="fw-light fs-5 mt-3 mb-4">- Final Project for IT127L</p></span>
            </h1>
            </div>
            <div id="right-section" class="col-lg-4 col-md-5 col-sm-12 col-xs-12 vh-100 d-flex justify-content-center align-items-center ps-0 ms-0">
                <div class="card w-100 m-3 px-4 pt-5 pb-3">
                    <h4 class="text-center text-dark fw-bold mb-4">Account Login</h4>
                    <div class="card-body">
                    <form>
                        <div class="form-floating mb-3">
                          <input v-model="data.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autocomplete="off" autofocus required>
                          <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input v-model="data.password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                          <label for="floatingPassword">Password</label>
                        </div>
                        <p>Sign in as</p>
                        <div class="mb-5 form-check form-switch">
                          <input v-model="isAdmin" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label text-dark" for="flexSwitchCheckDefault">Administrator</label>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button v-on:click.prevent="signin" :disabled="loading" type="submit" class="btn btn-sm btn-primary w-50 px-3 rounded-pill">
                            <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div v-else>
                              Sign In
                            </div>
                          </button>
                        </div>
                    </form>
                    <p class="text-dark text-center mt-3">Not a member yet? <span><router-link to="/register" class="text-primary text-decoration-none">Click here to sign up.</router-link></span></p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
    data(){
    return {
      loading:false,
      isAdmin: false,
      data: {
        email: '',
        password: '',
      },
    }
  },
  async mounted(){
    document.title = "Login"
  },
  computed: {
   ...mapState('auth', ['user','useraccount','adminaccount'])
  },
    methods: {
    ...mapActions('auth', ['loginAdminAccount', 'loginUserAccount']),
    async signin(){ 
        this.loading = true
        if(this.isAdmin){
        const res = await this.loginAdminAccount(this.data)
        if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$router.push('/admin/dashboard')
          this.$toast.success('Welcome back, ADMINISTRATOR!')
          this.loading = false
        }
        else {
          this.$toast.error('Sorry! Your account is invalid.')
          this.loading = false
        }
      } else {
        const res = await this.loginUserAccount(this.data)
        if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$router.push('/user/books')
          this.$toast.success('Hi, '+ this.data.email +'!')
          this.loading = false
        }
        else if(res.status == 403){
          this.$toast.error('Your account is still pending')
          this.loading = false
        }
        else {
          this.$toast.error('Sorry! Your account is invalid.')
          this.loading = false
        }
      }

    }
    }
}
</script>