@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.main-content{
    /* margin-top: 70px; */
    background: #f7f7f7;
    margin-left: 260px;
}

.admin .card, .user .card{
    background: #f7f7f7 !important;
}

/* LOGIN AND REGISTRATION PAGE */
#login-page{
    height: 100vh;
    background-image:linear-gradient(0deg, rgba(94, 40, 241, 0.425), rgba(189, 96, 43, 0.507)), url('../background.jpg');    background-repeat: no-repeat;
    background-size: cover;
}

#login-page .card{
    background: none;
    border: none;
}

#login-page #right-section{
    border: none;
    background: white;
    
}

#registration-page{
    height: 100vh;
    background-image:linear-gradient(0deg, rgba(94, 40, 241, 0.425), rgba(189, 96, 43, 0.507)), url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#registration-page #right-section{
    border: none;
    background: white;
}

#registration-page .card{
    background: none;
    border: none;
}

/* SIDEBAR */
.admin .sidenav, .user .sidenav {
    background-image: linear-gradient(to bottom, #605BFF, #6959CB);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 5rem .9rem;
    z-index: 3;
    transition: all 250ms ease-in-out;
  }
  

.admin  .sidenav a, .user  .sidenav a{
   font-size: 1rem;
   font-weight: 400;
   color: white;
   text-decoration: none;
   padding: 10px 16px;
   margin-top: 5px;
  }
  

.admin  .sidenav a:hover, .user  .sidenav a:hover {
   background: #422fafab;
   color: white;
   border-radius: 10px;
  }
  

.admin  .router-link-active, .user  .router-link-active {
   background: #4833C3;
   color: white;
   border-radius: 10px;
   position: relative;
  }
  

.admin  .router-link-active::before, .user  .router-link-active::before  {
   content: '';
   position: absolute;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);
   background: #4af39e;
   border-radius: 50%;
   height: 8px;
   width: 8px;
  }
  

.close {
    outline: none !important;
    border: 0px !important;
    background: white !important;
    font-size: 1.2rem !important;
   }