<template>
  <div class="user-sidenav">
   <div class="sidenav">
    <img src="../../../assets/d.png" class="mx-auto mb-2" height="120px" width="120px" alt="">
     <h6 class="text-white text-center">{{ useraccount.userinfo.first_name }} {{ useraccount.userinfo.last_name }}</h6>
     <small class="text-white mb-5 text-center">{{ useraccount.email }}</small>
     <router-link to="/user/books" :class="getRoute == '/user' ? 'router-link-active' : ''"><i class="fas fa-book me-2"></i><span class="sidenav-sr"> Books</span></router-link>
     <router-link to="/user/mybooks"><i class="fas fa-book-open me-2"></i><span class="sidenav-sr">My Books</span></router-link>
     <a href="" v-on:click.prevent="$bvModal.show('logoutModal')"><i class="fas fa-sign-out-alt me-3"></i>Logout</a>
   </div>

   <b-modal id="logoutModal" centered title="Logout">
    <p class="my-4">Are you sure you want to log-out?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button size="sm" variant="danger" :disabled="loading" v-on:click="logout">
        <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div v-else>
            Logout
        </div>
      </b-button>
    </template>
   </b-modal>
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
export default {
  data(){
    return {
      loading: false
    }
  },
 methods: {
   ...mapActions('auth', ['logoutUser', 'checkAuthUser']),
   async logout(){
     this.loading = true
     const res = await this.logoutUser()
     if(res.status == 200){
       this.loading = false
       this.$router.push('/')
       window.location.reload()
       this.$toast.success('Logged Out')
     }
     else {
       this.$toast.error('Something went wrong!')
       this.loading = false
     }
   },
 },
  async mounted(){
      await this.checkAuthUser();
  },
 computed: {
   getRoute: function(){
     return this.$route.path
    },
    ...mapState('auth', ['useraccount']),
  },
}
</script>